/* src/pages/Home.module.css */
.homePage {
    padding: 20px;
    background-image: url('/Images/background.webp');
    background-size: cover;
    background-position: center;
  }
  
  .heroSection {
    margin-bottom: 50px;
  }
  
  .featuredProducts {
    margin-bottom: 50px;
    background-image: url('/Images/background.webp');

  }
  