/* src/components/SearchBar/SearchBar.module.css */
.searchBar {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .searchInput {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  