/* src/components/Header/Header.module.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: white;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav {
    display: flex;
    gap: 20px;
  }
  
  .link {
    color: white;
    font-size: 16px;
    text-decoration: none;
  }
  
  .userName {
    margin-right: 20px;
    font-size: 16px;
  }
  
  .logoutButton {
    padding: 10px 15px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .logoutButton:hover {
    background-color: #ff1a1a;
  }
  